<footer class=" footer bg-transparent py-3 mt-auto text-white-50">
    <div class="container">
        <p>&copy; 2020 StillSites </p>
    </div>
</footer>

<!-- <footer class="mt-auto text-white-50">
    footer bg-transparent py-3 mt-auto
</footer> -->