#cluster-map {
    width: 80%;
    height: 500px;
}


#map {
    width: 100%;
    height: 300px;
}

.boilerBodyBg {
    background-image:url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80
    https://images.unsplash.com/photo-1475070929565-c985b496cb9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80
    https://images.unsplash.com/photo-1468657988500-aca2be09f4c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80
    https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80
   https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 
   https://images.unsplash.com/photo-1511893078133-af69047e2738?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=80
   */

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: white;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: white;
    border-bottom-color: white;
}

.PageBg {
    background-color: rgb(255, 255, 255);
}

.cardImg {
   
    height: 200px;
    object-fit: cover
}
.cardBg{
    background-color: #4e7aa1de;
}
.WhiteText{
    color:white;
}
.newForm{
    background-color: #4e7aa187;
}
.navBg{
    background-color: #5b3e2c80;
}

.campHed{
    color:hsl(0, 0%, 100%);
    font-weight: 600;
    font-family:cursive;
}
